<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sport_ItemStock.Properties.Settings.SportConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Sport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sport_ItemStock.Properties.Settings.SportsConnectionString"
            connectionString="Data Source=.;Initial Catalog=Sports;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>